<div class="main-container">
<div class="content-container">
  <section class="content-section">
    <div class="content-section-header">
      <span class="header-span">Who am I?</span>
    </div>
    <div class="content-section-body">
      <span>I'm a first year student at <a href="https://lnu.se/"><b>Linaeusuniversity.</b></a></span>
      <span>This project is for my 1DV613 course.</span>
    </div>
  </section>
  <section class="content-section">
    <div class="content-section-header">
      <span class="header-span">Why <b>Student jobs</b>?</span>
    </div>
    <div class="content-section-body">
     <span>The reason for this project is my dissatisfaction with what the job market looks like today.</span>
      <span>I've always been dissatisfied with how the process of applying for a job went</span>
      <span>and how unfair the process is for young jobseekers.</span>
      <span>Constantly competing against older and highly educated people, leads to fewer jobs left for young workers.</span>
      <span>This is why I decided to focus my project on making an application where companies can directly contact and hire young workers.</span>
      <span>Where yunger jobseekers can directly create thier CV or personl letter on their profile.</span>
      <span>I know how important privacy is for us, this is why you decide who can see your profile. By applying to a job, you give the company access to you personal information.</span>
      <span>This also goes for companies. The only information that is public is the information their enter when they create a job post.</span>
    </div>
  </section>
   <section class="content-section">
    <div class="content-section-header">
      <span class="header-span">Goals</span>
    </div>
    <div class="content-section-body">
      <span>My goal with this project is to show that it is possible to build an application focused for the youner generation of workers. Where the competition isn't as high as other places.</span>
    </div>
  </section>
</div>
</div>