<div class="main-container">

<div class="form-container">
	{{>validationSummary}}
<form method="POST" action="./experience/new">
	<div class="new-skill-header">
    <span>Lets add a new job experience</span>
  </div>
			<div class="add-new-form-sub">
        <label for="form-name">Company name</label>
        <input id="form-name" type="text" name="name"  minlength="2" autocomplete="off" required />
      </div>
      <div class="add-new-form-sub">
        <label for="form-title">Position title</label>
        <input id="form-title" type="text" name="title"  minlength="2" autocomplete="off" required />
      </div>
      <div class="add-new-form-sub-current">
         <label for="current-job">Is this your current job?</label>
         <input type="checkbox" name="current" id="current-job">
       </div>
      <div class="add-new-form-sub-year">
        <label for="start">Start date</label>
        <input type="date" id="start" name="start" min="1950" max="2021-12">
       <label for="end">End date</label>
       <input type="date" id="end" name="end" min="1950" max="2021-12" >
      </div>
       
     <div class="add-new-form-sub">
       <span>Write a short description of the job: Max 200 letters.</span>
       <textarea name="description" id="description" cols="10" rows="5" maxlength="200" style="resize:none;" ></textarea>
     </div>
 <button id="post-btn">Save</button>
</form>
</div>
</div>