<div class="main-container">
<div class="content-container">
  <section class="content-section">
    <div class="content-section-header">
      <span class="header-span">Contact</span>
    </div>
    <div class="content-section-body">
      <span>If you have any questions regarding this project, you can reach me by email: ym222cw@student.lnu.se</span>
    </div>
  </section>
  
</div>
</div>