<div class="main-container">
<section class="upper-section-landing">
  <div class="landing-page-main-img">
    <span class="index-header-span">Student Jobs - Were the youth is put first</span>
    <div class="search-menu-wraper">

<div class="search-menu-bar">
  <form action="./search" method="get">
  <div class="search-inner-container">
      <div class="search-inner-inner-container">
        <div class="search-sub-div">
          <label for="city">City</label>
        </div>
        <div class="search-sub-div">
          <input type="text" name="city" placeholder="City *" minlength="1" autocomplete="off" required />
        </div>

    </div>
    <div class="search-inner-inner-container">
      <div class="search-sub-div">
        <label for="keyword">Job Title</label>
      </div>
      <div class="search-sub-div">
         <input type="text" name="keyword" placeholder="Job title" minlength="1" autocomplete="off" />
      </div>
    </div>
    <div class="search-inner-inner-container">
       <div class="search-sub-div">
         <button>Search</button>
       </div>
    </div>
  </div>
  </form>
  </div>
</div>

</div>


</section>
       {{>flash}}
       
<section class="content-section-wrapper">
<div class="sub-items">
  <h2>Find your new work experience at Student Jobs!</h2>
  <span>

   At Student Jobs you'll never have to worry about competing with high educated or people with longer working experiences.
   Student jobs is the platform were students are put first. Here you are the working power that companies need to get a fresh and yunger perspective.
  </span>
</div>
<div class="sub-items">
  <img src="./img/logo.png" alt="testImg">
</div>
</section>

</div>