<div class="main-container">
  {{>flash}}
<div class="form-container">

  	{{>validationSummary}}
<form method="POST" action="./register-employer">
<span>Company name:</span>
      <input type="text" autofocus="autofocus" name="name" placeholder="Company name" minlength="1" autocomplete="off" required />
<span>Country:</span>
      <input type="text" name="country" placeholder="Country" minlength="1" autocomplete="off" required />
      <span>Adress:</span>
      <input type="text" name="adress" placeholder="Adress" autocomplete="off" required>
      <span>City:</span>
      <input type="text" name="city" placeholder="City" minlength="1" autocomplete="off" required />
      <span>Email: OBS! This email will not be public</span>
      <input type="text" name="email" placeholder="Email" minlength="5" autocomplete="off" required />
      <span>Password:</span>
				<div class="password-container">
				<input class="password" type="password" name="password" placeholder="Password" minlength="6" autocomplete="off" required/>
			<i class="far fa-eye" id="togglePassword"></i>
			</div>
<button>Register</button>
</form>
</div>
<div class="personal-information-info">
	<div class="personal-information-info-sub-top">
		<span>How we handle your company information: </span>
	</div>
	<div class="personal-information-info-sub">
		<ul>
			<li>- All information will only be available to you as a company.</li>
			<li>- When creating a new job post, only the information about the company will be used.</li>
			<li>- If you wish to delete your account, all the data connected to it will be deleted.</li>
			<li class="warning-obs">OBS! Deleting your account is not reversible.</li>
		</ul>
	</div>
</div>
</div>