<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{baseURL}}">
    <title>jobb portalen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/edit-style.css">
    <link rel="stylesheet" href="./css/posts.css">
    <link rel="stylesheet" href="./css/header-style.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/register-style.css">
    <link rel="stylesheet" href="./css/media-queries.css">
    <link rel="stylesheet" href="./css/messages.css">
    <link rel="stylesheet" href="./css/content.css">
  <link
/>
</head>
<body>
    {{>header}}
    <main role="main" id="root">
        {{{body}}}
<div class="footer-main">
  <div class="sub-containers">
    <span>Copyright 2021, Daniel Martinez Lara, All rights reserved.</span>
  </div>

</div> 
    </main>
    <script src="./js/index.js"></script>
</body>
</html>